<!-- ======================================== -->
<!-- ================== CSS ================= -->
<!-- ======================================== -->
<style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    body, label{font: 14px "Avenir Next", sans-serif;color: #000000;}
    a {cursor: pointer; color: #333; text-decoration: none;}
    a:visited {text-decoration: none;}
    a:hover {text-decoration: none;}
    button {color: #21618C; background-color: #FFFFFF; border: 0px;}
    button:hover {color: #000000; background-color: #f5f5f5 }
    input {horizontal-align: 30px;}
    .w3-border{border:1px solid #ccc!important}
    .glyphicon-info-sign {font-size: 1.3em; color: #BCBCBC;}
    .panel {background-color: #f5f5f5; border: 0px;}
    .panel-default>.panel-heading {background-image: none; background-color: #2795c8; }
    .panel-title {color: #FFFFFF;background-color: #2795c8; font-size: 15px;}
    .modal-header, .modal-footer { margin: 1px; font-size: 18px; font-weight: 600; }
    .modal-body {background-color: #FDFDFD; margin-left: 1px; }
    .footer {background-color: #f5f5f5; padding-top: 20px; }
    .fa-external-link, .fa-envelope-o, .fa-long-arrow-left {color: #2795c8;}
    .fa-print {font-size: 50px; color: #2795c8;}
    .fa-paper-plane {font-size: 40px; color: #2795c8;}
    .fa-download {font-size: 10px; color: #2795c8;}
    .work-category {color: #606060;}
    .dropdown-submenu {position: relative;}
    .dropdown-submenu .dropdown-menu {top: 0; left: 100%; margin-top: -1px;}
    .dropdown-submenu:hover { background-color: #BCBCBC; }
    .intention { padding-left: 5px; }
    .feedback-textarea { width: 96%; margin-left: 35px; }
    #main-title {font-size: 40px; color: #2795c8;}
    #image-f, #image-a, #image-i, #image-r { padding-top: 10px; }
    #image-print-f, #image-print-a, #image-print-i, #image-print-r { width: 10%; heigth: 10%; }
    #image-print-fairsfair { width: 25%; heigth: 25%; }
    #image-print-dans { width: 20%; heigth: 20%; }

    @media (max-width: 768px) {
        div.col-md-2 {padding-left: 30px;}
        div.col-md-10 {padding-left: 30px;}
        .fa-print {font-size: 20px;}
        .fa-paper-plane {font-size: 20px;}
        .fa-download {font-size: 2px;}
        .intention { padding-left: 15px; }
        .feedback { padding-left: 45px; }
        #image-f, #image-a, #image-i, #image-r {padding-top: 20px;}
    }
    @media (min-width: 768px) {
        div.col-md-2 {padding-left: 30px;}
        div.col-md-10 {padding-left: 30px;}
        .fa-print {font-size: 40px;}
        .fa-paper-plane {font-size: 30px;}
        #image-f, #image-a, #image-i, #image-r {padding-top: 80px;}
    }
    @media (min-width: 1025px) {
        div.col-md-2 {padding-left: 10px;}
        div.col-md-10 {padding-left: 10px;}
        .fa-print {font-size: 40px;}
        .fa-paper-plane {font-size: 30px;}
    }
    @media print {.pagebreak { page-break-before: always; }}

</style>
